alias g=git
alias ggadp="git add -p"
alias ggfp="git fetch --prune"
alias ggi="git commit"
alias gglg="git lg"
alias ggo="git checkout"
alias ggds="git diff --staged"
alias ggst="git status"

# Directory stack
alias d="dirs -v"
alias pd="pushd"
