.*.swp
nscde-gentoo/.NsCDE/tmp/
nscde-gentoo/.NsCDE/.FvwmConsole-History
nscde-gentoo/.NsCDE/.SysActionDialog.lastval
nscde-gentoo/.NsCDE/*.pid
nscde-gentoo/.NsCDE/icons/*.png
gkrellm-ogg/.gkrellm2/data/net/enp4s0
